footer {
  padding-top: 64px;
  padding-bottom: 30px;
  background: var(--estrutura-footer-background-mapa, #2b313b);
  overflow: hidden;

  .content-footer {
    .first-line {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--estrutura-footer-border-default, #5b677c);

      @media (max-width: 1254px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 991px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .itens {
        h6 {
          margin: 0;
          padding: 0;
          margin-bottom: 16px;

          color: var(--estrutura-footer-content-default, #fff);
          font-family: var(--font-family-body, "Open Sans");
          font-size: var(--Font-size-medium, 14px);
          font-style: normal;
          font-weight: 700;
          line-height: var(--Font-line-height-medium, 24px);
        }

        p {
          margin: 0;
          color: var(--estrutura-footer-content-default, #fff);
          font-family: var(--font-family-body, "Open Sans");
          font-size: var(--Font-size-medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--Font-line-height-medium, 24px);
        }

        a {
          text-decoration: underline;
          color: var(--estrutura-footer-content-default, #fff);
          font-family: var(--font-family-body, "Open Sans");
          font-size: var(--Font-size-medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--Font-line-height-medium, 24px);
        }

        input[type="submit"] {
          border-radius: var(--Default-Buttons-large-border-radius, 8px);
          background: var(--button-primary-filled-background-hover, #0c6e43);
          color: var(--button-primary-filled-content-hover, #fff);
          font-family: var(--font-family-titles, Epilogue);
          font-size: var(--Font-size-large, 16px);
          font-style: normal;
          font-weight: 500;
          line-height: 100%;

          &::placeholder {
            color: var(--button-primary-filled-content-hover, #fff);
            font-family: var(--font-family-titles, Epilogue);
            font-size: var(--Font-size-large, 16px);
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
          }
        }

        .margin-p {
          margin-bottom: 28px;
        }

        input {
          padding: 11px 16px;
          border-radius: 8px;
          background-color: #fff;
          border: unset;

          &::placeholder {
            color: var(--component-form-content-default, #666);
            font-family: var(--font-family-body, "Open Sans");
            font-size: var(--Font-size-large, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: var(--Font-line-height-large, 26px); /* 162.5% */
          }
        }

        .inputs-first-line {
          display: flex;
          gap: 12px;
          margin-top: 16px;
        }

        .social-footer {
          display: flex;
          gap: 16px;
          margin-top: 16px;

          img {
          }
        }
      }

      .input-itens {
        width: 400px;

        @media (max-width: 1254px) {
          width: 100%;
        }

        input[type="text"] {
          width: 100%;
        }

        input[type="submit"] {
        }
      }
    }

    .second-line {
      padding: 24px 0px;
      border-bottom: 1px solid var(--estrutura-footer-border-default, #5b677c);

      .navigation-itens {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;

        @media (max-width: 1254px) {
          display: none;
        }

        .itens {
          .canais {
            display: grid;
            margin-top: 10px;

            h6 {
              margin: 0;
              padding: 0;
              margin-bottom: 10px;

              color: var(--estrutura-footer-content-default, #fff);
              font-family: var(--font-family-body, "Open Sans");
              font-size: var(--Font-size-medium, 14px);
              font-style: normal;
              font-weight: 700;
              line-height: var(--Font-line-height-medium, 24px);
            }

            a {
              text-decoration: none;
              color: var(--estrutura-footer-content-default, #fff);
              font-family: var(--font-family-body, "Open Sans");
              font-size: var(--Font-size-medium, 14px);
              font-style: normal;
              font-weight: 400;
              line-height: var(--Font-line-height-medium, 24px);
            }
          }
        }
      }
    }

    .lines {
      padding: 24px 0px;
      border-top: 1px solid var(--estrutura-footer-border-default, #5b677c);

      .navigation-itens {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;

        @media (max-width: 1254px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 991px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .itens {
          .canais {
            display: grid;
            margin-top: 10px;

            h6 {
              margin: 0;
              padding: 0;
              margin-bottom: 10px;

              color: var(--estrutura-footer-content-default, #fff);
              font-family: var(--font-family-body, "Open Sans");
              font-size: var(--Font-size-medium, 14px);
              font-style: normal;
              font-weight: 700;
              line-height: var(--Font-line-height-medium, 24px);
            }

            a {
              text-decoration: none;
              color: var(--estrutura-footer-content-default, #fff);
              font-family: var(--font-family-body, "Open Sans");
              font-size: var(--Font-size-medium, 14px);
              font-style: normal;
              font-weight: 400;
              line-height: var(--Font-line-height-medium, 24px);
            }
          }
        }
      }
    }

    p {
      color: var(--estrutura-footer-content-default, #fff);
      font-family: var(--font-family-body, "Open Sans");
      font-size: var(--Font-size-medium, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Font-line-height-medium, 24px);
    }
  }

  .termos-final {
    border-radius: 16px;
    background: var(--estrutura-footer-background-footer, #383f4c);
    padding: var(--Estrutura-Footer-margin-bottom, 24px) 32px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    p {
      color: var(--semantic-inverse, #fff);
      font-family: var(--font-family-body, "Open Sans");
      font-size: var(--Font-size-medium, 14px);
      font-style: normal;
      font-weight: 700;
      line-height: var(--Font-line-height-medium, 24px);
    }

    a {
      text-decoration: none;
      color: var(--semantic-inverse, #fff);
      font-family: var(--font-family-body, "Open Sans");
      font-size: var(--Font-size-medium, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Font-line-height-medium, 24px);
      display: flex;
      align-items: center;
    }

    .navigation-direitos {
      display: flex;
      flex-wrap: wrap;

      a:last-of-type {
        &:after {
          display: none;
        }
      }

      a {
        &:after {
          content: "";
          width: 1px;
          height: 12px;
          color: rgba(255, 255, 255, 0.1);
          background: var(--Footer-border, rgba(255, 255, 255, 0.1));
          display: block;
          margin: 0px 16px;
        }
      }
    }
  }
}

.mapa-site {
  display: none;

  @media (max-width: 1254px) {
    display: flex !important;
    flex-direction: column;

    button {
      padding: 0px;
      margin: 0px;
      width: fit-content;
      background-color: unset;
      border: unset;

      display: flex;
      align-items: center;
      gap: 16px;

      color: var(--text-body-large, #383838);
      font-family: var(--font-family-body, "Open Sans");
      font-size: var(--font-font-size-font-size-body-small, 12px);
      font-style: normal;
      font-weight: 700;
      line-height: var(--font-line-height-font-size-body-small, 18px);

      span {
        color: var(--estrutura-footer-content-default, #fff);
        font-family: var(--font-family-body, "Open Sans");
        font-size: var(--Font-size-medium, 14px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--Font-line-height-medium, 24px); /* 171.429% */
      }
    }
  }

  .list-footer-last {
    margin-top: 28px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .itens {
      .canais {
        display: grid;
        margin-top: 10px;

        h6 {
          margin: 0;
          padding: 0;
          margin-bottom: 10px;

          color: var(--estrutura-footer-content-default, #fff);
          font-family: var(--font-family-body, "Open Sans");
          font-size: var(--Font-size-medium, 14px);
          font-style: normal;
          font-weight: 700;
          line-height: var(--Font-line-height-medium, 24px);
        }

        a {
          text-decoration: none;
          color: var(--estrutura-footer-content-default, #fff);
          font-family: var(--font-family-body, "Open Sans");
          font-size: var(--Font-size-medium, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--Font-line-height-medium, 24px);
        }
      }
    }

    .list-menu {
      display: flex;
      flex-direction: column;

      h5 {
        margin: 0;
        padding: 0;
        margin-bottom: 16px;

        color: var(--text-body-large, #383838);
        font-family: var(--font-family-body, "Open Sans");
        font-size: var(--font-font-size-font-size-body-small, 15px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-line-height-font-size-body-medium, 24px);
      }

      a {
        text-decoration: none;
        color: var(--text-body-small, #666);
        font-family: var(--font-family-body, "Open Sans");
        font-size: var(--font-font-size-font-size-body-small, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-font-size-body-medium, 24px);
        margin-bottom: 12px;
      }
    }

    a:last-child {
      margin-bottom: 0px;
    }
  }
}

.logo {
  img {
    width: 145px;
  }
}
